.objects {
    width: 600px;
    display: flex;
    flex-direction: column;

}

body.popup-body {
    box-sizing: border-box;
    /* background-color: transparent; */
    margin: 0;
    padding: 10px 10px;
    background-color: #383838;
    min-width: 350px;
    font-size: 14px;
    font-family: "Arial", sans-serif;
}


.object {
    width: 100%;
    padding: 20px;
    background-color: #c6c6c6;
}

.objects-context-menu-container {
    position: absolute;
    z-index: 9999999999;
    min-width: 90px;
    display: none;
}

.objects-context-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.objects-context-menu .item {
    width: 140px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    background: #2d2d2d;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    cursor: pointer;
}

.objects-context-menu .item:hover,
.popup-button:hover,
.object-name button:hover {
    background: #101010;
}

.selected-content {
    background-color: rgba(255, 255, 8, 0.52) !important;
    z-index: 9999999998;
}

.popup-button {
    display: block;
    background: #2d2d2d;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    font-size: 14px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.popup-button:focus,
.object-name input,
.object-name input:focus,
button,
button:focus,
select,
select:focus {
    outline: none;
}

.object-name {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.object-name input {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    border-right: none;
    border-radius: 20px 0 0 20px;
    border: 1px solid #c6c6c6;
    border-right: none;
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    background-color: #fff !important;
}

#tagsInput {
    border-radius: 0px;
}

.object-name input.invalid-value {
    border-color: rgba(234, 23, 23, 1) !important;
}

.object-name button {
    min-width: 20px;
    width: 100%;
    height: 30px;
    flex: 0 1 20%;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: -19px;
    border-left: none;
    color: #fff;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    background: #2d2d2d;
}

.option__container {
    width: 100%;
    height: 100%;
    display: none;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Checked */
.enable-extansion .form_toggle .item-1 input[type=radio]:checked+label {
    background: #ffc5c5;
}

.enable-extansion .form_toggle .item-2 input[type=radio]:checked+label {
    background: #bbffbb;
}

.enable-blocking .form_toggle .item-1 input[type=radio]:checked+label {
    background: #ffc5c5;
}

.enable-blocking .form_toggle .item-2 input[type=radio]:checked+label {
    background: #bbffbb;
}

.message {
    font-size: 14px;
    font-family: "Arial", sans-serif;
    margin: 0;
    margin-bottom: 10px;
    color: #ece4af;
}


.radio-cont {
    width: 34px;
    height: 16px;
    cursor: pointer;
}

.hidden-checkbox {
    display: none;
}

.checkbox-bar {
    background-color: rgb(154, 160, 166);
    border-radius: 8px;
    height: 12px;
    left: 3px;
    position: absolute;
    top: 2px;
    transition: background-color linear 80ms;
    width: 28px;
    z-index: 0;
    cursor: pointer;
}

.checkbox-dot {
    /* background-color: rgb(218, 220, 224); */
    background-color: #ece4af;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);
    display: block;
    height: 16px;
    position: relative;
    transition: transform linear 80ms, background-color linear 80ms;
    width: 16px;
    top: -2px;
    left: -3px;
    z-index: 1;
    cursor: pointer;
}

#ext-status+label {
    position: relative;
    width: 100%;
    height: 100%;
}

#blocking-status+label {
    position: relative;
    width: 100%;
    height: 100%;
}

#ext-status:checked+label .checkbox-bar {
    /* background-color: rgba(138, 180, 248, .5); */
    background-color: #191919;
}

#ext-status:checked+label .checkbox-dot {
    /* background-color: rgba(138, 180, 248, 1); */
    transform: translate3d(18px, 0, 0);
}

#blocking-status:checked+label .checkbox-bar {
    /* background-color: rgba(138, 180, 248, .5); */
    background-color: #191919;
}

#blocking-status:checked+label .checkbox-dot {
    /* background-color: rgba(138, 180, 248, 1); */
    transform: translate3d(18px, 0, 0);
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: flex;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
        /* border: 1px solid #d4d4d4; */
    /* border-bottom: none; */
    /* border-top: none; */
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    /* margin-right: -1px; */
    /* margin-bottom: 10px; */
    max-height: 407px;
    overflow: scroll;
}

.autocomplete-items div {
    display: flex;
    cursor: pointer;
    height: 35px;
    box-sizing: border-box;
    background-color: #fff;
    background-color: #383838;
    /* border-bottom: 1px solid #d4d4d4; */
    color: #ece4af;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
}

.create-tag-tag {
    margin-left: 5px;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
    background-color: #2E2E2E;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.option .message {
    margin: 0;
}

.tag-select {
    width: auto;
}

.tag-select input {
    /* border-radius: 30px; */
    border: 1px solid #c6c6c6;
}

.tag-select input:focus,
input[type="text"]:focus {
    border-color: #000000;
}

.tag-select-ok {
    min-width: 90px;
}

.autocomplete-tag {
    color: #282828;
    text-decoration: none;
    position: relative;
    -webkit-user-drag: none;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    border-radius: 10px;
    font-style: italic;
    font-size: 14px;
    padding: 2px 10px;
}

.selected-tags-list {
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    max-height: 180px;
    overflow: scroll;
}

.selected-tags-list span {
    color: #282828;
    text-decoration: none;
    position: relative;
    -webkit-user-drag: none;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    border-radius: 10px;
    font-style: italic;
    font-size: 14px;
    height: 20px;
    padding: 0px 10px;
    align-items: center;
    padding-right: 0;
    margin-right: 5px;
    display: flex;
    background-color: #ecc1c1;
    margin-bottom: 10px;
    cursor: pointer;
}

.selected-tags-list span::after {
    display: inline-flex;
    content: 'X';
    justify-content: center;
    align-items: center;
    font-style: normal;
    margin-left: 5px;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
    width: 15px;
    height: 100%;
    font-size: 12px;
    padding-right: 3px;
    padding-top: 2px;
}